.button {
    padding: 5px 10px;
    background-color: rgb(201, 201, 201);
}

.evenBg {
    padding: 5px 10px;
    background-color: rgba(0, 247, 255);
}

.oddBg {
    padding: 5px 10px;
    background-color: rgb(233, 88, 62);
}