.app-content {
    border: 4px solid burlywood;
    background-color: lightgreen;
    margin: 20px;
    padding: 40px;

    h1 {
        color: brown;
    }
}

.app-content-collapsed {
    border: 4px solid burlywood;
    background-color: lightgreen;
    margin: 20px;
    padding: 40px;
    visibility: collapse;
}

.app-title {
    font-weight: bold;
    font-size: xx-large;
    text-decoration: underline;
    color: rgb(14, 104, 92);
    text-align: center;
    background-color: burlywood;
    border: 8px solid lightgreen;
    margin: 20px;
}